/* stylelint-disable */
*, *::after, *::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --cell-size: 100px;
    --mark-size: calc(var(--cell-size) * .6);
}

header {
    position: absolute;
    display: flex;
    gap: 20px;
    padding: 1em;
    align-items: center;
    justify-content: center;
    top: 30px;
    border: 10px solid white;
    border-radius: 5px
}

header .app-title {
    font-size: 3.5em;
    color: #fff;
}

header .app-icon {
    width: 100px;
    height: 100px;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    background-image: url("images/animated-background.svg");
    height: 100vh;
    font-family: "Poppins", sans-serif;
}

.game-details {
    background: #FFF9EC;
    padding: 7px;
    border-radius: 5px;
    width: 320px;
}

.game-details .players {
    position: relative;
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.game-details span {
    position: relative;
    width: 100%;
    border-radius: 5px;
    padding: 7px 0;
    font-size: 19px;
    font-weight: 600;
    cursor: default;
    width: 100%;
    text-align: center;
    color: #FCB1A6;
    z-index: 5;
}

.game-details span {
    position: relative;
    width: 100%;
    border-radius: 5px;
    padding: 7px 0;
    font-size: 19px;
    font-weight: 600;
    cursor: default;
    width: 100%;
    text-align: center;
    color: #FCB1A6;
    z-index: 2;
    transition: all 0.3s ease;
}

.game-details span:first-child {
    color: #FFF9EC;
}

.game-details .slider {
    position: absolute;
    top: 0;
    left: 0%;
    height: 100%;
    width: 50%;
    background: #FCB1A6;
    border-radius: 5px;
    z-index: 1;
    transition: all 0.3s ease;
}

.players.active span:first-child {
    color: #FCB1A6;
}

.players.active span:nth-child(2) {
    color: #FFF9EC;
}

.players.active .slider {
    left: 50%;
}

.board {
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(3, auto);
}

.cell {
    width: var(--cell-size);
    height: var(--cell-size);
    display: flex;
    background-color: #FFF9EC;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    position: relative;
    cursor: pointer;
}

.cell.x, .cell.circle {
    cursor: not-allowed;
}

.cell.x::before,
.cell.x::after,
.cell.circle::before {
    background-color: #5D2A42;
}

.board.x .cell:not(.x):not(.circle):hover::before,
.board.x .cell:not(.x):not(.circle):hover::after,
.board.circle .cell:not(.x):not(.circle):hover::before {
    background-color: #FB6376;
}

.cell.x::before,
.cell.x::after,
.board.x .cell:not(.x):not(.circle):hover::before,
.board.x .cell:not(.x):not(.circle):hover::after
 {
    position: absolute;
    content: '';
    width: calc(var(--mark-size) * .15);
    height: var(--mark-size);
}

.cell.x::before,
.board.x .cell:not(.x):not(.circle):hover::before {
    transform: rotate(45deg);
}

.cell.x::after,
.board.x .cell:not(.x):not(.circle):hover::after {
    transform: rotate(-45deg);
}

.cell.circle::before,
.cell.circle::after,
.board.circle .cell:not(.x):not(.circle):hover::before,
.board.circle .cell:not(.x):not(.circle):hover::after  {
    position: absolute;
    content: '';
    border-radius: 50%;
}

.cell.circle::before,
.board.circle .cell:not(.x):not(.circle):hover::before  {
    width: var(--mark-size);
    height: var(--mark-size);
}

.cell.circle::after,
.board.circle .cell:not(.x):not(.circle):hover::after {
    width: calc(var(--mark-size) * .7);
    height: calc(var(--mark-size) * .7);
    background-color: #FFF9EC;
}

.winning-message {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.9);
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 5rem;
    z-index: 3;
}

.winning-message button {
    font-size: 3rem;
    background-color: white;
    border: 1px solid black;
    padding: .25em .5em;
    cursor: pointer;
}

.winning-message button:hover {
    background-color: black;
    border: 1px solid white;
    color: white;
    cursor: pointer;
}

.winning-message.show {
    display: flex;
}

  /* Footer Styles */
.copyright {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.5em;
    position: absolute;
    left: 15px;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    bottom: .5em;
    width: 280px;
}

.copyright-text {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.15em;
    text-align: center;
    color: white;
}

.copyright a {
    text-decoration: none;
    color:  white;
}

.author-name {
    text-decoration: underline 0.1em rgba(87, 110, 224, 0);
    transition: text-decoration-color 300ms;
}

.author-name:hover {
    text-decoration-color: white;
}

.github-icon {
    width: 30px;
    cursor: pointer;
    transition: transform 0.3s ease-in-out;
}

.github-icon:hover {
    transform: rotate(360deg) scale(1.1);
}